.container {
	display: grid;
	grid: auto 1fr / 250px 1fr;
	height: 100vh;
}

.container > h1 {
	padding: 32px 0 32px 32px;
	border-right: 1px solid lightgray;;
}

.sidemenu {
	grid-row: 2 / 3;
	padding: 0 32px 32px 32px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-right: 1px solid lightgray;;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons {
	display: grid;
	gap: 4px;
	padding: 32px 0;
}

.board {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	overflow-y: auto;
	min-height: 100vh;
	width: min-content;
	padding: 32px;
}

@media screen and (max-width: 430px) {
	.container {
		display: block;
	}
	.container > h1 {
		border: none;
		border-bottom: 1px solid lightgray;
		padding: 16px;
	}
	.sidemenu {
		padding: 16px;
		border: none;
		gap: 16px;
	}
	.inputs {
		display: grid;
		grid: auto / 1fr 1fr 1fr;
		gap: 16px;
	}
	.buttons {
		display: grid;
		grid: auto auto / auto auto;
		gap: 8px;
	}
	.board {
		padding: 16px;
	}
}

.cells {
	display: grid;
	gap: 2px;
}

.cell {
	width: 16px;
	height: 16px;
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 0;
	cursor: pointer;
	background-color: white;

	&[data-state="alive"] {
		border: 1px solid gray;
		background-color: gray;
	}

	&[data-state="dead"]:hover {
		background-color: #efefef;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

[class="dark-theme"] {
	.cell {
		background-color: lightgray;
		border: 1px solid lightgray;
		&[data-state="alive"] {
			border: 1px solid gray;
			background-color: gray;
		}
		&[data-state="dead"]:hover {
			background-color: #e9e9f9;
		}
	}
}

.saveForm {
	position: relative;
}

.saveButton {
	width: 100%;
}

.loader {
  border-radius: 9999px;
  border-top: 1px solid #B9BBC6;
  border-bottom: 1px solid #B9BBC6;
  border-right: 1px solid #B9BBC6;
  border-left: 1px solid #8B8D98;
  animation: spin 1s linear infinite;
  width: 10px;
  height: 10px;
}

@keyframes spin {
  from {
	rotate: 0deg;
  }
  to {
	rotate: 360deg;
  }
}

.pageLoader {
	display: grid;
	place-items: center;
	height: 100svh;
}

.pageLoader > div {
  border-radius: 9999px;
  border-top: 8px solid #B9BBC6;
  border-bottom: 8px solid #B9BBC6;
  border-right: 8px solid #B9BBC6;
  border-left: 8px solid #8B8D98;
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
}

.popoverContainer {
	position: absolute;
	top: 40px;
	left: 0;
}