.container {
	display: grid;
	grid: auto / 250px 1fr;
	height: 100vh;
}

.sidemenu {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	border-right: 1px solid lightgray;;
}

.size {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.buttons {
	display: grid;
	gap: 4px;
}

.board {
	overflow-y: auto;
	min-height: 100vh;
	width: min-content;
}

.cells {
	padding: 32px;
	display: grid;
	gap: 2px;
}

.cell {
	width: 16px;
	height: 16px;
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 0;
	cursor: pointer;
}

.cell:disabled {
	cursor: not-allowed;
}

.saveForm {
	position: relative;
}

.saveButton {
	width: 100%;
}

.loader {
  border-radius: 9999px;
  border-top: 1px solid #B9BBC6;
  border-bottom: 1px solid #B9BBC6;
  border-right: 1px solid #B9BBC6;
  border-left: 1px solid #8B8D98;
  animation: spin 1s linear infinite;
  width: 10px;
  height: 10px;
}

@keyframes spin {
  from {
	rotate: 0deg;
  }
  to {
	rotate: 360deg;
  }
}

.pageLoader {
	display: grid;
	place-items: center;
	height: 100svh;
}

.pageLoader > div {
  border-radius: 9999px;
  border-top: 8px solid #B9BBC6;
  border-bottom: 8px solid #B9BBC6;
  border-right: 8px solid #B9BBC6;
  border-left: 8px solid #8B8D98;
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
}

.popoverContainer {
	position: absolute;
	top: 40px;
	left: 0;
}